.courses-header {
    background-image: url('/assets/images/fundos/cursobg.png');
}

.subtitle-content {
    margin-bottom: 60px;
}

.subtitle-content p {
    width: fit-content;
    margin: auto;
    font-size: 1.5rem;
    color: #9b9997;
}

@media (max-width: 768px) {
    .subtitle-content p {
        font-size: 1.4rem;
        text-align: center;
        max-width: 90vw;
    }
}