<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
</head>
<body>
    <h1>QR Code:</h1>
    <img src="<%= qrCode %>" alt="QR Code do WhatsApp">
    <script>
        // Aqui você pode adicionar qualquer JavaScript adicional que quiser
    </script>
</body>
</html>
